* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top :0;
  left: 0;
  background: rgba(54, 54, 54, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .popup_content{
  width: 550px;
 background-color: rgb(255, 255, 255);
  border-radius: 5px;
 position: relative;
 border: 5px solid #fff;
 padding: 25px;

}

.popup .header{
  display: flex;
}

.popup .header .title {
  font-weight: bold;
  color: #2db6cb;
  font-size: 1.2rem;
}

.popup .close {
  margin-left: auto;
  cursor: pointer;
}

.popup .record_form {
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 10px 0px ;
}

.popup .input_item {
  display: flex;
  margin-bottom: 15px;
}

.popup .input_item input{
  height: 27px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 0 10px 0 10px;
  font-size: 1.05rem;
  background-color: #fafafa ;
}

.popup .input_item label{
  color: rgb(97, 97, 97);
  font-weight: bold;
  margin-left: 2px;
  margin-right: 10px;  
  width: 170px;
}

.popup .input_item input {
  width: 100%;
}

.popup .button {
  display: flex;
  justify-content: flex-end;
}
.popup .cancel_button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}

.popup .submit_button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: 	rgb(2, 112, 254);
  margin-left: 5px;
}




